<h1>Sign In</h1>
<form action="/users/create-session" method="post">
    <input type="email" name="name" placeholder="Email" required>
    <input type="password" name="password" placeholder="your-password" required>
    <input type="button" value="Signin">
</form>